:root {
	--global-wrapper-width: 90%;
	--global-title-letter-spacing: 0.18em;
	--global-color-text-black: #000;
	--global-color-text-gray: #757575;
}

body {
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.wrapper {
	width: var(--global-wrapper-width);
	margin: 0 auto;
}
